section.hero-banner{
    background-image:url("../images/hero-banner.jpg");
    background-size:cover;
    height : 100vh; 
    display: flex;
    align-items: center;
    justify-content: center;

   
}
h1,h2,h3,h5,h6{
    color:white;
}
button{
    background-color: #1efffb;
}
button.login.a{
    color:white;
    text-decoration:none;
}
  
 #header
 {
    background-color : rgb(192, 225, 255);
 }
 #sidebar
 {
    background-color : rgb(255, 192, 228);
 }